html, body{
    margin: 0%;
}
header, .header{
    background: aqua;
    margin-left: 15%;
}
.Hero{
    background-color: black;
    display: block;
    align-items: center;
    text-align: center;
    font-size: 35px;
}
.Hero>p,.Hero>h1,.Hero>h2,.Hero>h3,.Hero>h4,.Hero>h5,.Hero>h6,Hero-body>p,.Hero-body>h1,.Hero-body>h2,.Hero-body>h3,.Hero-body>h4,.Hero-body>h5,.Hero-body>h6{
    color:white;
}
button {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}
button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
button:main,button:focus {user-select: auto;}
button:hover:not(:disabled) { filter: brightness(1.1); -webkit-filter: brightness(1.1)}
button:disabled { cursor: auto; }
button {width: auto;}
a{text-decoration: none;color: white;}
.contact_me div {
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

.contact_me-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contact_me-body a {
    text-decoration: none;
    color: #222;
}
.Hero{margin-bottom: 0;}
.contact_me{
    margin-top: 0;
    align-items: center;
    text-align: center;
    color:#FFFFFF;
    background-image: url('https://media.istockphoto.com/id/1221025677/photo/abstract-blue-background-minimal-geometric-background-for-use-in-design.jpg?b=1&s=170667a&w=0&k=20&c=GQ8738yB4Z4N5CL_CgmIorvl9nTOXFTvgZYCV3trRHE=');
}
